/* general document Style */
:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(210, 210, 210);
    margin: 30px; 
    background-color: rgb(35, 35, 35)
}
a{
    color:rgb(255, 92, 195);
}
#NAV{
    list-style: none;
}
#NAV li{
    padding: 10px;
}
#NAV li:hover{
    color:blue;
}

/* Class Icon styles */

.classTablet{
    border-radius: 10px;
    margin: 15px 15px 0px 0px;
    font-size: 10px;
    background-color: rgb(86, 172, 102);
    max-width: 250px;
    height: auto;
    background-clip: padding-box;
    overflow: hidden;
    color:rgb(210, 210, 210);
    text-decoration-color:rgb(210, 210, 210) ;
    border:1.5px solid ;
} 
.classTablet:hover{
    /* box-shadow: 0 0 10px rgb(97, 97, 97); */
    border: 1.5px solid transparent;
    filter: drop-shadow( 0 0 5px rgb(97, 97, 97) );
    
}
.classTablet p {
    cursor:default;
    text-indent: 10px;
}
.classTablet img{
    margin:auto;
    border-bottom: 1px solid rgb(210, 210, 210);
    width: 100%;
    overflow: hidden;
}

/* Attendance table/spreadsheet style */

.attendanceTable{
    margin: auto;
    border-collapse:collapse;
    font-size: 2em; 
}
.attendanceTable td{
    padding: 5px 10px 5px 3px;
    border: 1px solid rgb(111, 111, 111);    
    background-color: rgba(60, 60, 60);
}
.attendanceTable th{
    padding: 5px 10px 5px 3px;
    text-align: left;
    border: 2px solid rgb(161, 161, 161);  
    background-color: rgb(90, 90, 90);
}



/*account MODAL*/
.accountSelectModal{
    z-index: 10;
    background-color: darkgrey;
    border-radius: 10px;
    max-width: 500px;
    width: 80vw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 130ms;
}
.accountSelectModal.active{
    opacity: 100;
}
#overlay{
    margin: 0px;
    padding: 0px;
    top:0%;
    left:0%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0);
    opacity: 0;
    transition: 200ms;
}
#overlay.active{
    z-index: 9;
    opacity: .56;
    pointer-events: all;
}
.accountSelectModal button{
    border:none;
    border-bottom: 1px solid rgb(111, 111, 111);
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.521); ;
}
.accountSelectModal button:hover{
    background-color: rgba(234, 234, 234, 0.521);
}
.accountSelectModal img{
    width: 35px;
    margin: auto 10px auto 0px;
}
.accountSelectModal .accountsView{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding:0px ;
    width:100%
}
.accountSelectModal .accountsView li{
    width:100%;
}